@model AstralNotes.API.ViewModels.HomeView
@{
    ViewData["Title"] = "Home Page";
}
 
<div class="NotesGallery">
    @if (User.Identity.IsAuthenticated)
    {
        <form method="get">
            <div class="form-inline form-group">
                @Html.TextBox("Search", Model.NoteFilter.Search, htmlAttributes: new {@class = "form-control", @placeholder="Поиск по содержимому..."})
                <input type="submit" value="Поиск" class="btn btn-default"/>
            </div>
        </form>
        
        <div class="row">
            @foreach (var note in Model.NoteModels)
            {
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://localhost:5000/Avaters/@note.FileGuid" alt="@note.FileGuid">
                        <div class="caption">
                            <div align="center" class="NoteTitle"><h3>@note.Title</h3></div>
                            <div class="NoteText">@note.Description</div>
                            <div>
                                <form class="" type="hidden" asp-controller="Note" asp-action="GetNote" asp-route-noteGuid="@note.NoteGuid" method="post">
                                    <button type="submit" class="btn btn-primary">
                                        Просмотреть
                                    </button>
                                </form>

                                <form class="" type="hidden" asp-controller="Note" asp-action="Delete" asp-route-id="@note.NoteGuid" method="post">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        Удалить
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }    
    else
    {
        <div class="WelcomeText thumbnail">
            <h2 class="text-center">Добро пожаловать на сайт AstralNotes, чтобы воспользоваться сервисом для заметок авторизируйтесь</h2>
        </div>
       
    }

</div>